.bundle
.config
.yardoc
_yardoc
coverage
**/test/reports/
**/test/html_reports/
docs/
rdoc/
tmp
/Gemfile.lock
.DS_Store
*.log
.idea/*
profile/**/data/*.json
.byebug_history
dist/
gem-private_key.pem
/.ruby-version
*/.idea/**