{{{license_header}}}
{{{generated_code_warning}}}

# frozen_string_literal: true

module OpenSearch
  module API
    {{#module_name}}
    module {{module_name}}
      {{>action.module}}
    end
    {{/module_name}}
    {{^module_name}}
    {{>action.module}}
    {{/module_name}}
  end
end
