{{{license_header}}}
{{{generated_code_warning}}}

# frozen_string_literal: true

module OpenSearch
  module API
    module {{module_name}}
      module Actions; end

      # Client for the "{{namespace}}" namespace (includes the {{module_name}}::Actions methods)
      class {{client_name}}
        include {{module_name}}::Actions
        include Common::Client
        include Common::Client::Base
      end

      # Proxy method for {{client_name}}, available in the receiving object
      def {{namespace}}
        @{{namespace}} ||= {{client_name}}.new(self)
      end
    end
  end
end
