{{{license_header}}}
{{{generated_code_warning}}}

# frozen_string_literal: true

require_relative '{{#namespace}}../{{/namespace}}../../../spec_helper'

describe 'client{{#namespace}}.{{namespace}}{{/namespace}}#{{name}}' do
  let(:expected_args) do
    [
      '{{http_verb}}',
      '{{expected_url_path}}',
      {{#expected_query_params}}
      {{pre}}{{key}}: {{{value}}}{{post}}
      {{/expected_query_params}}
      {{^expected_query_params}}
      {},
      {{/expected_query_params}}
      {{body}},
      {}
    ]
  end

  let(:client) do
    Class.new { include OpenSearch::API }.new
  end

  {{#required_components}}
  it 'requires the :{{arg}} argument' do
    expect do
      client{{#namespace}}.{{namespace}}{{/namespace}}.{{name}}{{{others}}}
    end.to raise_exception(ArgumentError)
  end

  {{/required_components}}
  it 'performs the request with all optional params' do
    expect(client_double{{#namespace}}.{{namespace}}{{/namespace}}.{{name}}(
      {{#client_double_args}}
      {{key}}: {{{value}}}{{^last}},{{/last}}
      {{/client_double_args}}
    )).to eq({})
  end
end
