name: Integration with Compatibility
on:
  push:
    branches:
      - "*"
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - '*.md'

jobs:
  test-opensearch:
    env:
      TEST_OPENSEARCH_SERVER: http://localhost:9250
      PORT: 9250
    strategy:
      fail-fast: false
      matrix:
        cluster-version: [ "1.0.0", "1.0.1", "1.1.0", "1.2.0", "1.2.1", "1.2.2", "1.2.3", "1.2.4", "1.3.0", "1.3.1", "2.0.0" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - uses: ./.github/actions/opensearch
        with:
          cluster-version: ${{ matrix.cluster-version }}
          disable-security: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Build and test with Rake
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev
          ruby -v
          bundle install
      - name: Run All Tests
        run: rake test:all

  test-opensearch-security:
    env:
      TEST_OPENSEARCH_SERVER: https://admin:myStrongPassword123!@localhost:9200
      PORT: 9200
    strategy:
      fail-fast: false
      matrix:
        cluster-version: [ "1.0.0", "1.0.1", "1.1.0", "1.2.0", "1.2.1", "1.2.2", "1.2.3", "1.2.4", "1.3.0", "1.3.1", "1.3.2", "1.3.3", "2.0.0", "2.0.1" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - uses: ./.github/actions/opensearch
        with:
          cluster-version: ${{ matrix.cluster-version }}
          disable-security: false
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Build and test with Rake
        run: |
          sudo apt-get update
          sudo apt-get install libcurl4-openssl-dev
          sudo apt-get install ca-certificates
          ruby -v
          bundle install
      - name: opensearch-ruby
        run: rake test:client:security
